body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial;
    text-align: center;
    padding: 30px;
}

input {
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
}

.result.Safe { color: #22c55e; }
.result.Suspicious { color: #facc15; }
.result.Dangerous { color: #ef4444; }